#pane{
    -fx-background-image: url("background.jpg");
    -fx-font-family: Cambria;
    -fx-font-size: 40px;
}

.paneS{
    -fx-font-size: 30px;
}

.bigText{
    -fx-font-size: 40px;
}

.smallText{
    -fx-font-family: Consolas;
    -fx-font-size: 30px;
}

.smallText:hover{
    -fx-font-size: 115%;
    -fx-underline: true;
}

#choosen{
    -fx-font-size: 115%;
    -fx-underline: true;
}

.timer{
    -fx-font-size: 50px;
    -fx-font-family: Consolas;
}