#pane{
    -fx-background-image: url("background.jpg");
    -fx-font-family: Cambria;
    -fx-font-size: 40px;
}

.paneS{
    -fx-font-size: 25px;
}

.bigText{
    -fx-font-size: 40px;
}

.smallText{
    -fx-font-family: Cambria;
    -fx-font-size: 25px;
}

.smallText:hover{
    -fx-font-size: 115%;
    -fx-underline: true;
}

#choosen{
    -fx-font-size: 115%;
    -fx-underline: true;
}